<% layout('../layout/login'); %>

<div class="login-box">
    <div class="login-logo">
        <a href="#!"><b></b>Login</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <% if ( typeof msg_error != 'undefined' && msg_error.length > 0 ) { %>
            <div class="small-box bg-red">
                <div class="inner">
                    <% msg_error.forEach(function(error){ %>
                    <p><%= error %></p>
                    <%});%>
                </div>
            </div>
        <% } %>

        <form action="" method="post">
            <input type="hidden" name="_csrf" value="<%= csrftoken %>">
            <div class="form-group input-group">
                <span class="input-group-addon" id="sizing-addon2"><i class="fa fa-user" aria-hidden="true"></i></span>
                <input type="text" class="form-control" placeholder="username" name="username" value="<%=helpers.admin.get_query_data(post_data,'username')%>" <% if(appConfig.env == 'production'){ %> autocomplete="off" <%}%> >
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon" id="sizing-addon2"><i class="fa fa-key" aria-hidden="true"></i></span>
                <input type="password" class="form-control" placeholder="password" name="password" <% if(appConfig.env == 'production'){ %> autocomplete="off" <%}%>>
            </div>

            <div class="form-group input-group">
                <div class="g-recaptcha" data-sitekey="<%=appConfig.recaptcha.site_key%>"></div>
                <script src='https://www.google.com/recaptcha/api.js'></script>
            </div>

            <div class="row">
                <div class="col-xs-8">
                    <!-- <a href="#">Forgot password ?</a> -->
                </div>
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Login</button>
                </div>
            </div>
        </form>
    </div>
</div>
